<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="ExistingStringKey" value="This is a string value"/>
    
    <add key="ExistingBoolKey_true_1" value="true"/>
    <add key="ExistingBoolKey_True_2" value="True"/>
    <add key="ExistingBoolKey_TRUE_3" value="TRUE"/>
    <add key="ExistingBoolKey_false_1" value="false"/>
    <add key="ExistingBoolKey_False_2" value="False"/>
    <add key="ExistingBoolKey_FALSE_3" value="FALSE"/>
    <add key="ExistingBoolKey_InvalidValue" value="NonBooleanValue"/>

    <add key="ExistingEnumKey_Value1" value="Value1"/>
    <add key="ExistingEnumKey_value1_InvalidCase" value="value1"/>
    <add key="ExistingEnumKey_Value2" value="Value2"/>
    <add key="ExistingEnumKey_value2_InvalidCase" value="value2"/>
    <add key="ExistingEnumKey_Value3" value="Value3"/>
    <add key="ExistingEnumKey_value3_InvalidCase" value="value3"/>
    <add key="ExistingEnumKey_InvalidValue" value="NonExistingValue"/>

    <add key="ExistingInt32Key_Value_0" value="0"/>
    <add key="ExistingInt32Key_Value_1" value="1"/>
    <add key="ExistingInt32Key_Value_m1" value="-1"/>
    <add key="ExistingInt32Key_Value_InvalidInt32" value="888888888888888888888888888888"/>
    <add key="ExistingInt32Key_InvalidValue" value="NotAnInteger"/>
  </appSettings>
</configuration>
